<div>
  <% if user.errors.any? %>
    <h4><%= user.errors.count %>件のエラーです</h4>
    <% user.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
  <% end %>
</div>