<div class="row main-item mt-5">
  <div class="offset-2 col-8">
    <h2 class="text-center">登録情報変更</h2>

    <%= render "users/error", user: @user %>

    <%= render "users/form", user: @user %>

    <div class="text-center"><%= link_to "←マイページに戻る", user_path(current_user) %></div>
  </div>
</div>