<div class="row main-item mt-5">
  <div class="offset-2 col-8">
    <h2 class="text-center">新規登録</h2>

    <%= render "users/error", user: @user %>

    <%= render "users/form", user: @user %>
    <div class="text-center">登録済みの方は<%= link_to "こちら", login_path %></div>
  </div>
</div>