<div class="row">
  <div class="col">
    <h1>マイページ</h1>

    <%= @user.name %>

    <!--期限をカレンダーで表示-->
    <%= render "users/foods", foods: @foods %>

    <!--在庫の少ないitem-->
    <%= render "users/items", items: @items %>
  </div>
</div>
