<div class="row">
  <div class="col">
    <div class="user-name"><%= @user.name %>さん</div>
    <h1 class="mb-4">マイページ</h1>

    <!--期限をカレンダーで表示-->
    <%= render "users/foods", foods: @foods %>

    <!--在庫の少ないitem-->
    <%= render "users/items", items: @items %>
  </div>
</div>
