<div class="row main-item">
  <div class="col text-center">
    <h1>食在管理</h1>

    <div class="top-text">
      <div class="p-4">
        <h4>食品の賞味・消費期限の管理</h4>
        <p>気づいたら期限が切れていた</p>
        <p>同じ食材を買っていた</p>
      </div>
      <div class="p-4">
        <h4>日用品などの在庫管理</h4>
        <p>あると思ったのになかった</p>
        <p>今家にどのくらい残っていたっけ？</p>
      </div>
    </div>

    <div><i class="fas fa-arrow-down fa-2x"></i></div>

    <h4 class="py-4">お家の中のものを「食在管理」で管理しませんか？</h4>
  </div>
</div>