<div class="btn-group dropright">
  <button class="dropdown-toggle category-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    カテゴリで絞る
  </button>
  <div class="dropdown-menu category-btn__list">
    <% food_categories.each do |food_category| %>
      <div class="category-btn__item"><%= link_to food_category.name, food_category_search_path(food_category_id: food_category.id), class: "link" %></div>
    <% end %>
  </div>
</div>