<div class="btn-group dropright">
  <button class="dropdown-toggle category-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    カテゴリで絞る
  </button>
  <div class="dropdown-menu category-btn__list">
    <% item_categories.each do |item_category| %>
      <div class="category-btn__item"><%= link_to item_category.name, item_category_search_path(item_category_id: item_category.id), class: "link" %></div>
    <% end %>
  </div>
</div>