<% if item.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading"><%= item.errors.count %>件のエラーが発生しています</h4>
    <% item.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
  </div>
<% end %>
